<div class="banner">
    <div class="banner__content">
      <div class="banner__text">
        <strong>Notice:</strong> game images are not working due to a server outage. This can last up to 3 days. We'll let you know when it's back up.
      </div>
      <button class="banner__close" type="button">
        <span class="material-icons">
          close
        </span>
      </button>
    </div>
  </div>